.git
.github
.vscode
.idea

.venv
__pycache__
**/__pycache__
**/*.pyc

node_modules
.svelte-kit
frontend/node_modules
frontend/.svelte-kit
frontend/build

testData
test_playground
video_captions_db

*.md
!requirements.txt

.DS_Store
Thumbs.db
